In [31]:
import pandas as pd
import numpy as np
import scipy.stats as stats

## Load data

In [32]:
df=pd.read_excel('selected_subdistrict_elder_data.xlsx')
df_contiguity=pd.read_excel('contiguitymatrix.xlsx')

In [33]:
df

,objectid,area_cal,area_bma,perimeter,adminid,subdistric,subdistr_1,district_i,district_n,changwat_i,changwat_n,shape_leng,shape_area,g_province,g_male,g_female,g_total,totalpop,rate
0,66,24.622,22.805,22844.770520,3,103201,ประเวศ,1032,ประเวศ,10,กรุงเทพมหานคร,22812.885533,2.462202e+07,กรุงเทพมหานคร,5283,7415,12698,86495,14.68
1,179,27.980,28.124,25314.766414,1,103403,ทับช้าง,1044,สะพานสูง,10,กรุงเทพมหานคร,16569.553820,1.093234e+07,กรุงเทพมหานคร,1667,2469,4136,24289,17.03
2,38,16.150,14.297,17419.742229,2,101102,คลองสองต้น,1011,ลาดกระบัง,10,กรุงเทพมหานคร,17400.373672,1.615040e+07,กรุงเทพมหานคร,3398,4333,7731,67655,11.43
3,133,10.849,10.823,20481.762091,4,101101,ลาดกระบัง,1011,ลาดกระบัง,10,กรุงเทพมหานคร,21059.723328,1.099782e+07,กรุงเทพมหานคร,2190,3046,5236,29956,17.48
4,67,16.367,15.172,17770.305260,4,103203,ดอกไม้,1032,ประเวศ,10,กรุงเทพมหานคร,17732.300720,1.636677e+07,กรุงเทพมหานคร,2503,3418,5921,49715,11.91
5,65,12.898,14.513,15235.527474,2,103202,หนองบอน,1032,ประเวศ,10,กรุงเทพมหานคร,15205.869663,1.289791e+07,กรุงเทพมหานคร,3245,4631,7876,42080,18.72
6,182,24.354,23.678,24333.850658,1,103402,อ่อนนุช,1034,สวนหลวง,10,กรุงเทพมหานคร,15696.959696,6.058656e+06,กรุงเทพมหานคร,3262,4805,8067,45287,17.81
7,195,24.354,23.678,24333.850658,1,103403,พัฒนาการ,1034,สวนหลวง,10,กรุงเทพมหานคร,13283.081933,8.776473e+06,กรุงเทพมหานคร,2537,3672,6209,31114,19.96

In [34]:
df_contiguity

,ชื่อแขวง,ประเวศ,ทับช้าง,คลองสองต้น่น,ลาดกระบัง,ดอกไม้,หนองบอน,อ่อนนุช,พัฒนาการ
0,ประเวศ,0,1,1,1,1,1,1,1
1,ทับช้าง,1,0,1,1,0,0,0,0
2,คลองสองต้น่น,1,1,0,1,0,0,0,0
3,ลาดกระบัง,1,1,1,0,0,0,0,0
4,ดอกไม้,1,0,0,0,0,1,0,0
5,หนองบอน,1,0,0,0,0,1,0,1
6,อ่อนนุช,1,0,0,0,0,1,0,0
7,พัฒนาการ,1,1,0,0,0,1,0,0

In [35]:
df_contiguity['sum'] = df_contiguity.sum(axis = 1)

In [40]:
df_contiguity['ประเวศ']=df_contiguity['ประเวศ']/df_contiguity['sum']
df_contiguity['ทับช้าง']=df_contiguity['ทับช้าง']/df_contiguity['sum']
df_contiguity['คลองสองต้น่น']=df_contiguity['คลองสองต้น่น']/df_contiguity['sum']
df_contiguity['ลาดกระบัง']=df_contiguity['ลาดกระบัง']/df_contiguity['sum']
df_contiguity['ดอกไม้']=df_contiguity['ดอกไม้']/df_contiguity['sum']
df_contiguity['หนองบอน']=df_contiguity['หนองบอน']/df_contiguity['sum']
df_contiguity['อ่อนนุช']=df_contiguity['อ่อนนุช']/df_contiguity['sum']
df_contiguity['พัฒนาการ']=df_contiguity['พัฒนาการ']/df_contiguity['sum']

In [41]:
df_contiguity

,ชื่อแขวง,ประเวศ,ทับช้าง,คลองสองต้น่น,ลาดกระบัง,ดอกไม้,หนองบอน,อ่อนนุช,พัฒนาการ,sum
0,ประเวศ,0.000000,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,0.142857,7
1,ทับช้าง,0.333333,0.000000,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,3
2,คลองสองต้น่น,0.333333,0.333333,0.000000,0.333333,0.000000,0.000000,0.000000,0.000000,3
3,ลาดกระบัง,0.333333,0.333333,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,3
4,ดอกไม้,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,2
5,หนองบอน,0.333333,0.000000,0.000000,0.000000,0.000000,0.333333,0.000000,0.333333,3
6,อ่อนนุช,0.500000,0.000000,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,2
7,พัฒนาการ,0.333333,0.333333,0.000000,0.000000,0.000000,0.333333,0.000000,0.000000,3

In [59]:
z_score=list(stats.zscore(df['g_total']))
list_subdist=list(df_contiguity.columns[1:9])
for i in range(8):
    df_contiguity[list_subdist[i]]=df_contiguity.loc[:,list_subdist[i]]*z_score[i]

In [60]:
df_contiguity

,ชื่อแขวง,ประเวศ,ทับช้าง,คลองสองต้น่น,ลาดกระบัง,ดอกไม้,หนองบอน,อ่อนนุช,พัฒนาการ,sum
0,ประเวศ,0.000000,-0.181504,0.029101,-0.117063,-0.076934,0.037595,0.048785,-0.060062,7
1,ทับช้าง,0.746855,-0.000000,0.067902,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3
2,คลองสองต้น่น,0.746855,-0.423508,0.000000,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3
3,ลาดกระบัง,0.746855,-0.423508,0.067902,-0.000000,-0.000000,0.000000,0.000000,-0.000000,3
4,ดอกไม้,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2
5,หนองบอน,0.746855,-0.000000,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.140144,3
6,อ่อนนุช,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2
7,พัฒนาการ,0.746855,-0.423508,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.000000,3

In [67]:
df_contiguity['sum_Wij_Zj'] = df_contiguity[df_contiguity.columns[1:9]].sum(axis = 1)

In [68]:
df_contiguity

,ชื่อแขวง,ประเวศ,ทับช้าง,คลองสองต้น่น,ลาดกระบัง,ดอกไม้,หนองบอน,อ่อนนุช,พัฒนาการ,sum,sum_Wij_Zj
0,ประเวศ,0.000000,-0.181504,0.029101,-0.117063,-0.076934,0.037595,0.048785,-0.060062,7,-0.320081
1,ทับช้าง,0.746855,-0.000000,0.067902,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3,0.541611
2,คลองสองต้น่น,0.746855,-0.423508,0.000000,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3,0.050200
3,ลาดกระบัง,0.746855,-0.423508,0.067902,-0.000000,-0.000000,0.000000,0.000000,-0.000000,3,0.391249
4,ดอกไม้,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2,1.251866
5,หนองบอน,0.746855,-0.000000,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.140144,3,0.694433
6,อ่อนนุช,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2,1.251866
7,พัฒนาการ,0.746855,-0.423508,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.000000,3,0.411069

In [69]:
df_contiguity['LISA']=0
for i in range(8):
    df_contiguity['LISA'].iloc[i]=df_contiguity['sum_Wij_Zj'].iloc[i]*z_score[i]

C:\Users\USER\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [70]:
df_contiguity

,ชื่อแขวง,ประเวศ,ทับช้าง,คลองสองต้น่น,ลาดกระบัง,ดอกไม้,หนองบอน,อ่อนนุช,พัฒนาการ,sum,sum_Wij_Zj,LISA
0,ประเวศ,0.000000,-0.181504,0.029101,-0.117063,-0.076934,0.037595,0.048785,-0.060062,7,-0.320081,-0.717162
1,ทับช้าง,0.746855,-0.000000,0.067902,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3,0.541611,-0.688130
2,คลองสองต้น่น,0.746855,-0.423508,0.000000,-0.273146,-0.000000,0.000000,0.000000,-0.000000,3,0.050200,0.010226
3,ลาดกระบัง,0.746855,-0.423508,0.067902,-0.000000,-0.000000,0.000000,0.000000,-0.000000,3,0.391249,-0.320604
4,ดอกไม้,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2,1.251866,-0.674174
5,หนองบอน,0.746855,-0.000000,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.140144,3,0.694433,0.182752
6,อ่อนนุช,1.120283,-0.000000,0.000000,-0.000000,-0.000000,0.131584,0.000000,-0.000000,2,1.251866,0.427503
7,พัฒนาการ,0.746855,-0.423508,0.000000,-0.000000,-0.000000,0.087723,0.000000,-0.000000,3,0.411069,-0.172827